/rule_processor_parent/criterien_creator/target/
/rule_processor_parent/rule_processor/target/
/rule_processor_parent/json_processor/target/
/rule_processor_parent/hl7_reader/target/
/rule_processor_parent/rule_creator/target/